extends layout

block content
  div.container
    div.row
      div.col.s12.m6
        div.card
          div.card-content
            span.card-title Create
            div.row
              div.row
                div.input-field.col.s6
                  input(type='text' id='first_name' placeholder='Enter First Name' name='first_name' value=`${user?user.first_name:''}`).validate
                  label( for='first_name') First Name
                div.input-field.col.s6
                  input(type='text' id='last_name' placeholder='Enter Last Name' name='last_name' value=`${user?user.last_name:''}`).validate
                  label( for='last_name') Last Name
              div.row
                div.input-field.col.s6
                  input(type='date' id='birthday' placeholder='Enter Birthday' name='birthday' value="2018/07/22").validate
                  label( for='birthday') Birthday
                div.input-field.col.s6
                  input(type='text' id='gender' placeholder='Enter Gender' name='gender' value=`${user?user.gender:''}`).validate
                  label( for='gender') Gender
              div.row
                div.input-field.col.s6
                  input(type='password' id='password' placeholder='Enter Password' name='password' value=`${user?user.password:''}`).validate
                  label( for='password') Password

                  input(type='hidden' id='id' name='id' value=`${user ? user.user_id : ''}`)


              div.card-action
                a(href='/' id='back').btn-flat.waves-effect.waves-input-wrapper.white Cancel

                button(id='button_add').btn-flat.waves-effect.waves-input-wrapper.blue.white-text Create

block script
  script(type='text/javascript', src='/js/jquery-2.1.1.min.js')
  script(type='text/javascript', src='/js/materialize.js')
  script(type='text/javascript', src='../js/init.js')
